<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.adam.pri.crazyandroid" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ch02_imageview_activity"
            android:label="@string/title_activity_ch02_imageview_activity" >
        </activity>
        <activity
            android:name=".ch02_drawview_activity"
            android:label="@string/title_activity_ch02_drawview_activity" >
        </activity>
        <activity
            android:name=".ch02_linerlayout_activity"
            android:label="@string/title_activity_ch02_linerlayout_activity" >
        </activity>
        <activity
            android:name=".ch02_framelayout_activity"
            android:label="@string/title_activity_ch02_framelayout_activity" >
        </activity>
        <activity
            android:name=".ch02_textview01_activity"
            android:label="@string/title_activity_ch02_textview01_activity" >
        </activity>
        <activity android:name=".ch02_textview02_activity"
            android:label="activity_ch02_textview02_activity"/>
        <activity android:name=".ch02_alpha_activity"
            android:label="activity_alpha_activity"/>
        <activity android:name=".ch02_auto_activity"
            android:label="activity_auto_activity"/>
        <activity android:name=".ch02_datetime_activity"
            android:label="activity_datetime_activity"/>
        <activity android:name=".ch02_progress_activity"
            android:label="activity_progress_activity"/>
        <activity android:name=".ch02_tab_activity"
            android:label="activity_tab_activity"/>
        <activity android:name=".ch02_scroll_activity"
            android:label="activity_scroll_activity"/>
        <activity android:name=".ch02_listview01_activity"
            android:label="activity_ch02_listview01_activity"/>
        <activity android:name=".ch02_listview02_activity"
            android:label="activity_ch02_listview02_activity"/>
        <activity android:name=".ch02_listview03_simple_activity"
            android:label="activity_ch02_listview03_simple_activity"/>
        <activity android:name=".ch02_listview04_expand_activity"
            android:label="activity_ch02_listview04_expand_activity"/>
    </application>

</manifest>
